<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWIHQgzqx3YYyaMyizEbWBGrx9ZvPLCj4</string>
	<key>GCM_SENDER_ID</key>
	<string>733352801116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memegorithmWeb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ybigta-memegorithm</string>
	<key>STORAGE_BUCKET</key>
	<string>ybigta-memegorithm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733352801116:ios:8051fc2c5c91a06d004799</string>
</dict>
</plist>